---
layout: splash
title: 'Redbox Analytics'
author_profile: false
header:
  overlay_image: /assets/img/redbox_c.png
  overlay_filter: rgba(235, 63, 63, 0.5)
  
  actions:
    - label: "Contact us"
      url: "mailto:engage@redboxrisk.com"

excerpt: "Helping investment managers maximise return on platform investments"
top_row:
    excerpt: ''
feature_row:
  - image_path: assets/img/knowledge_c.jpg
    alt: "Deep Knowledge"
    title: "Deep Knowledge"
    excerpt: "Projects benefit greatly from specialised mathematical analysis and direct experience of front-office and operational roles"
    url: "/content/deepknowledge"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/img/code_display_c.png
    alt: "Avoiding Complexity"
    title: "Avoiding Complexity"
    excerpt: "A detailed understanding of business needs and contexts, coupled with technical platform knowledge, is crucial to achieving successful solutions"
    url: "/content/technical"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/img/enterprise_c.jpg
    alt: "Enterprise Wise"
    title: "Enterprise Wise"
    excerpt: "Having a thorough grasp of business activities, technical requirements and the tools employed to deliver solutions, is a significant mitigator of future operational risks"
    url: "/content/enterprise"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

<!---{% include feature_row id="top_row" type="right" %} --->

{% include feature_row id="feature_row" type="right" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}
