---
layout: splash
author_profile: false
header:
  overlay_image: /assets/img/redbox_c.png
  overlay_filter: rgba(235, 63, 63, 0.5)
  
  actions:
    - label: "Contact us"
      url: "mailto:chris@redboxrisk.com"

excerpt: "Helping investment managers maximise return on platform investments"
top_row:
    excerpt: ''
feature_row:
  - image_path: assets/img/knowledge_c.jpg
    alt: "Deep Knowledge"
    title: "Deep Knowledge"
    excerpt: "A detailed understanding of business activities, technical requirements, and the tools employed to deliver solutions is a significant mitigator of operational risks"
    url: "/content/enterprise"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/img/code_display_c.png
    alt: "Avoiding Complexity Through Technicality"
    title: "Avoiding Complexity Through Technicality"
    excerpt: 'Redbox employs specialised mathematical, statistical and computational analysis to help clinets find optimal solutions'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/img/enterprise_c.jpg
    alt: "Enterprise Wise"
    title: "Enterprise Wise"
    excerpt: "Having implemented solutions across all organisational scales, we’re aware of the enterprise-wide effects even the smallest of solutions can have."
    url: "/content/enterprise"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="top_row" type="right" %}

{% include feature_row id="feature_row" type="right" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
