---
layout: splash
author_profile: false
header:
  overlay_image: /assets/img/redbox_c.png
  overlay_filter: rgba(235, 63, 63, 0.5)
  
  actions:
    - label: "Download"
      url: "https://www.linkedin.com/in/chriswrayuk/"

excerpt: "Helping investment managers maximise return on platform investments"
top_row:
    excerpt: ''
feature_row:
  - image_path: assets/img/black-building_c.jpg
    alt: "Enterprise Wise"
    title: "Enterprise Wise"
    excerpt: "Having implemented solutions across all organisational scales, we’re aware of the enterprise-wide effects even the smallest of solutions can have."
  - image_path: assets/img/knowledge_c.jpg
    alt: "Deep Knowledge"
    title: "Deep Knowledge"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/img/code_display_c.png
    title: "Technical Not Complex"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: /assets/img/Logo_w_on_b_med.png
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/img/Logo_w_on_b_med.png
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/img/Logo_w_on_b_med.png
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="top_row" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
