---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.header-link {
    display: none;
  }

.info_panels {
  padding: 0;
}

.info_panels > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  grid-gap: 1rem;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.info_panels > ul > li {
  border: 1px solid #ffffff;
  border-radius: .5rem;
  text-align: center;
  background-color: rgba(235, 63, 63, 0.5);
  margin: auto;
}