---
# Only the main Sass file needs front matter (the dashes are enough) https://cssgenerator.org/
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.header-link {
    display: none;
  }

.about_head {
  display: flex;
  justify-content: space-between;
}

.about_head > h2 {
  border-bottom: none;
}

.about_head > div > h2 {
  border-bottom: none;
}

.info_panels {
  padding: 0;
}

.info_panels > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  grid-gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.info_panels > ul > li {
  text-align: center;
  background-color: #87f5fb;
  box-shadow: 9px 8px 10px -7px #000000;
  -webkit-box-shadow: 9px 8px 10px -7px #000000;
  -moz-box-shadow: 9px 8px 10px -7px #000000;
}

.info_panels > ul > li > p {
  margin: 0px 0px 0px;
}