---
# Only the main Sass file needs front matter (the dashes are enough) https://cssgenerator.org/
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.header-link {
    display: none;
  }

.info_panels {
  padding: 0;
}

.info_panels > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  grid-gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.info_panels > ul > li {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 9px 8px 10px -6px rgba(243, 241, 241, 0);
}

.info_panels > ul > li > p {
  margin: 0px 0px 0px;
}