---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.header-link {
    display: none;
  }

.info_panels {
  padding: 2rem;
}

.info_panels > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.info_panels > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}